<div ng-init="list()">
  <!-- <h6><code>rotate</code> defaulted to <code>true</code> and <code>force-ellipses</code> set to <code>true</code>:</h6>
  <uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" force-ellipses="true"></uib-pagination> -->
    <div
      class="col-xs-12 col-sm-6 col-md-4 col-lg-3"
      ng-repeat="product in products | orderBy:'price'"
    >
      <div class="thumbnail text-center">
        <ms-card></ms-card>

        <a
          class="btn btn-primary"
          ng-href="#/products/{{product.id}}"
          role="button"
        >
          View
        </a>
      </div>
    </div>
  </uib-pagination>
</div>
